<!-- AADS Advertisements -->
<!-- Top Banner Ad -->
<div class="aads-container flex flex-col items-center my-4">
    <iframe data-aa='2380126' src='//ad.a-ads.com/2380126' style='width:728px; height:90px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
</div>

<!-- Left Sidebar Ad -->
<div class="ad-sidebar left-0 ml-4 hidden lg:block" style="width:160px; padding:0;">
    <iframe data-aa='2380132' src='//ad.a-ads.com/2380132?size=160x600' style='width:160px; height:600px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
</div>

<!-- Right Sidebar Ad -->
<div class="ad-sidebar right-0 mr-4 hidden lg:block" style="width:160px; padding:0;">
    <iframe data-aa='2380133' src='//ad.a-ads.com/2380133?size=160x600' style='width:160px; height:600px; border:0px; padding:0; overflow:hidden; background-color: transparent;'></iframe>
</div>
